.selfintro {
	background-color: #e1edf7;
	width: 100vw;
	height: 675px;
	font-family: avantgarde;
	text-align: center;
}

img.face {
	text-align:center;
	width: 22%;
	padding: 16px;
}

.nameintro {
	text-align:center;
	font-family: georgia; 
	font-size: 60px;
	color: #082d49;
}

.titleintro {
	text-align:center;
	font-family: georgia;
	font-size: 36px;
	color: #082d49;
}

.intro {
	text-align:center;
	font-family: avantgarde;
	font-size: 26px;
	color: #082d49;
}