.selfintro {
	background-color: #e1edf7;
	width: 100vw;
	height: 675px;
	font-family: avantgarde;
	text-align: center;
	overflow: auto;
}

.face {
	width: 18%;
	padding: 0;
	position: relative;
	background-image: url("../images/rabbit.png");
	animation-name: example;
	animation-duration: 10s;
	animation-delay: 0.5s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: forwards;
}

@keyframes example {
	0% {left: 0px;}
	100% {left:41%;}
}

.nameintro {
	text-align:center;
	font-family: georgia; 
	font-size: 60px;
	color: #082d49;
}

.titleintro {
	text-align:center;
	font-family: georgia;
	font-size: 36px;
	color: #082d49;
}

.intro {
	text-align:center;
	font-family: avantgarde;
	font-size: 26px;
	color: #082d49;
	padding: 20px;
}

@media screen and (max-width: 1000px) {
.face {
	max-width: 30%;
	height: auto;
}

.nameintro {
	font-size: 45px;
}

.titleintro {
	font-size:30px;
}

.intro {
	font-size: 22px;
}
}

@media screen and (max-width: 720px) {
.selfintro {
	height: 600px;
}

.nameintro {
	font-size: 36px;
}

.titleintro {
	font-size: 26px;
}

.intro {
	font-size: 18px;
	padding: 15px;
}
}

@media screen and (max-width: 479px) {
.selfintro {
	height: 500px;
}

.face {
	width: 40%;
}
}

@media screen and (max-width: 260px) {
.nameintro {
	font-size: 30px;
}

.titleintro {
	font-size: 22px;
}

.intro {
	font-size: 12px;
}
}

@media screen and (max-width: 170px) {
	.nameintro {
		font-size: 26px;
	}
	
	.titleintro {
		font-size: 20px;
	}
	
	.intro {
		font-size: 16px;
		padding: 10px;
	}
	
	.face {
		width: 50%;
	}
}