body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: avantgarde;
}  

.header {
  margin: 0;
  text-align:center;
  font-family: broadway;
  font-size: 90px;
  color: white;
  background-color: #0e426b;
  width: 100vw-28px;
  padding: 28px;
  overflow: visible;
  height: 120px;
}

img.logo {
	height: 100px;
}

.navList {
  background-color: #0e426b;
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 200;
  border: #0e426b 1px solid;
  border: border-collapse;
}

.navList li {
	float: left;
}

.content {
	flex: 1;
	overflow: auto;
	padding: 20px;
}

.navList a {
  font-size: 18px;
  font-family: avantgarde;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  transition: .3s;
  white-space: nowrap;
}

li.dropdown {
  font-size: 18px;
  font-family: avantgarde;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  transition: .3s;
  white-space: nowrap;
}

li.dropdown:hover {
	cursor: pointer;
	background-color: white;
	color: #0e426b;
}

.navList a:hover {
  background-color: white;
  color: #0e426b;
  cursor: pointer;
}

.navList > li {
	position: relative;
}

.navList > li > div.drop {
	visibility: hidden;
	position: absolute;
	background-color: #0e426b;
	transition: .1s;
	opacity: 0;
}

.navList > li:hover > div.drop {
	visibility: visible;
	opacity: 1;
}

.drop {
	border: border-collapse;
	border: #0e426b 1px solid;
	top: 49px;
	left: -42px;
}

@media screen and (max-width: 1000px) {
.header {
	font-size: 60px;
	height: 8vh;
}

img.logo {
	height: 60px;
}

.navList a {
	font-size: 14px;
	
}

li.dropdown {
	font-size: 14px;
}

.drop {
	top: 44px;
	left: -30px;
}
}

@media screen and (max-width: 720px) {
.header {
	font-size: 40px;
	height: 6vh;
}

img.logo {
	height: 40px;
}

.navList a {
	font-size: 12px;
	
}

li.dropdown {
	font-size: 12px;
}

.drop {
	top: 44px;
	left: -30px;
}
}

@media screen and (max-width: 260px) {
.header {
	font-size: 20px;
	height: 3vh;
}

img.logo {
	height: 20px;
}

.navList a {
	font-size: 8px;
}

li.dropdown {
	font-size: 8px;
}

.drop {
	top: 37px;
	left: -20px;
}

}
